In [1]:
from pyspark.sql import SparkSession
import pandas as pd
import re

In [2]:
csvFile='Effectif_saison_tbhc_DB.csv'

df = pd.read_csv(csvFile)

print(df)

                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0    1990-1991 TOULOUSE-BLAGNAC ROSTER          #          N
1                           DEFENSEMEN        NaN        NaN
2                                  NaN        NaN        NaN
3                             FORWARDS        NaN        NaN
4                                  NaN        NaN        NaN
..                                 ...        ...        ...
741                                NaN        #13        NaN
742                                NaN        #34        NaN
743                                NaN        #27        NaN
744                                NaN        #59        NaN
745                                NaN         #3        NaN

                  Unnamed: 3 Unnamed: 4 Unnamed: 5                 Unnamed: 6  \
0                     PLAYER          A       BORN                 BIRTHPLACE
1                        NaN        NaN        NaN                        NaN
2      Christophe Chappa (D)         55       1969                        NaN
3                        NaN        NaN        NaN                        NaN
4         Étienne Aubert (F)         66       1958                        NaN
..                       ...        ...        ...                        ...
741      Marvin Krukoff (LW)         31       1993              Toulouse, FRA
742       Alex MacDonald (C)         27       1997  Windsor Junction, NS, CAN
743  Eddy Martin-Whalen (RW)         36       1988           LaSalle, QC, CAN
744        Camille Mutte (F)         20       2003              Toulouse, FRA
745          Pablo Sudor (F)         23       2001              Toulouse, FRA

    Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10
0           HT         WT          S         NaN
1          NaN        NaN        NaN         NaN
2          176         70         -0         NaN
3          NaN        NaN        NaN         NaN
4          183         76         -0         NaN
..         ...        ...        ...         ...
741        187         88          R       24/25
742        175         76          R       23/24
743        175         84          L         NaN
744        174         73          L       23/24
745        180         80          L       24/25

[746 rows x 11 columns]

In [3]:
def extraireSaison(chaine):
    global saison
    match = re.match(r"(\d+(?:-\d+)?)", str(chaine))
    if match:
        saison = match.group(1)
        return match.group(1)
    else:
        return saison
                     
df['Saison'] = df.iloc[:,0].apply(extraireSaison)

print(df)

                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0    1990-1991 TOULOUSE-BLAGNAC ROSTER          #          N
1                           DEFENSEMEN        NaN        NaN
2                                  NaN        NaN        NaN
3                             FORWARDS        NaN        NaN
4                                  NaN        NaN        NaN
..                                 ...        ...        ...
741                                NaN        #13        NaN
742                                NaN        #34        NaN
743                                NaN        #27        NaN
744                                NaN        #59        NaN
745                                NaN         #3        NaN

                  Unnamed: 3 Unnamed: 4 Unnamed: 5                 Unnamed: 6  \
0                     PLAYER          A       BORN                 BIRTHPLACE
1                        NaN        NaN        NaN                        NaN
2      Christophe Chappa (D)         55       1969                        NaN
3                        NaN        NaN        NaN                        NaN
4         Étienne Aubert (F)         66       1958                        NaN
..                       ...        ...        ...                        ...
741      Marvin Krukoff (LW)         31       1993              Toulouse, FRA
742       Alex MacDonald (C)         27       1997  Windsor Junction, NS, CAN
743  Eddy Martin-Whalen (RW)         36       1988           LaSalle, QC, CAN
744        Camille Mutte (F)         20       2003              Toulouse, FRA
745          Pablo Sudor (F)         23       2001              Toulouse, FRA

    Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10     Saison
0           HT         WT          S         NaN  1990-1991
1          NaN        NaN        NaN         NaN  1990-1991
2          176         70         -0         NaN  1990-1991
3          NaN        NaN        NaN         NaN  1990-1991
4          183         76         -0         NaN  1990-1991
..         ...        ...        ...         ...        ...
741        187         88          R       24/25  2023-2024
742        175         76          R       23/24  2023-2024
743        175         84          L         NaN  2023-2024
744        174         73          L       23/24  2023-2024
745        180         80          L       24/25  2023-2024

[746 rows x 12 columns]

In [4]:
def extrairePoste(chaine):
    global poste
    match = re.match(r"\b(DEFENSEMEN|FORWARDS)\b", str(chaine))
    if match:
        poste = match.group(1)
        return match.group(1)
    else:
        if len(poste)>0:
            return poste
                     
df['Poste'] = df.iloc[1:,0].apply(extrairePoste)

print(df)

                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0    1990-1991 TOULOUSE-BLAGNAC ROSTER          #          N
1                           DEFENSEMEN        NaN        NaN
2                                  NaN        NaN        NaN
3                             FORWARDS        NaN        NaN
4                                  NaN        NaN        NaN
..                                 ...        ...        ...
741                                NaN        #13        NaN
742                                NaN        #34        NaN
743                                NaN        #27        NaN
744                                NaN        #59        NaN
745                                NaN         #3        NaN

                  Unnamed: 3 Unnamed: 4 Unnamed: 5                 Unnamed: 6  \
0                     PLAYER          A       BORN                 BIRTHPLACE
1                        NaN        NaN        NaN                        NaN
2      Christophe Chappa (D)         55       1969                        NaN
3                        NaN        NaN        NaN                        NaN
4         Étienne Aubert (F)         66       1958                        NaN
..                       ...        ...        ...                        ...
741      Marvin Krukoff (LW)         31       1993              Toulouse, FRA
742       Alex MacDonald (C)         27       1997  Windsor Junction, NS, CAN
743  Eddy Martin-Whalen (RW)         36       1988           LaSalle, QC, CAN
744        Camille Mutte (F)         20       2003              Toulouse, FRA
745          Pablo Sudor (F)         23       2001              Toulouse, FRA

    Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10     Saison       Poste
0           HT         WT          S         NaN  1990-1991         NaN
1          NaN        NaN        NaN         NaN  1990-1991  DEFENSEMEN
2          176         70         -0         NaN  1990-1991  DEFENSEMEN
3          NaN        NaN        NaN         NaN  1990-1991    FORWARDS
4          183         76         -0         NaN  1990-1991    FORWARDS
..         ...        ...        ...         ...        ...         ...
741        187         88          R       24/25  2023-2024    FORWARDS
742        175         76          R       23/24  2023-2024    FORWARDS
743        175         84          L         NaN  2023-2024    FORWARDS
744        174         73          L       23/24  2023-2024    FORWARDS
745        180         80          L       24/25  2023-2024    FORWARDS

[746 rows x 13 columns]

In [5]:
def deleteNoPlayer(chaine):
    global poste
    match = re.match(r"\b(DEFENSEMEN|FORWARDS)\b", str(chaine))
    if match:
        poste = match.group(1)
        return match.group(1)
    else:
        if len(poste)>0:
            return poste
                     
df['Poste'] = df.iloc[1:,0].apply(extrairePoste)

print(df)

                            Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0    1990-1991 TOULOUSE-BLAGNAC ROSTER          #          N
1                           DEFENSEMEN        NaN        NaN
2                                  NaN        NaN        NaN
3                             FORWARDS        NaN        NaN
4                                  NaN        NaN        NaN
..                                 ...        ...        ...
741                                NaN        #13        NaN
742                                NaN        #34        NaN
743                                NaN        #27        NaN
744                                NaN        #59        NaN
745                                NaN         #3        NaN

                  Unnamed: 3 Unnamed: 4 Unnamed: 5                 Unnamed: 6  \
0                     PLAYER          A       BORN                 BIRTHPLACE
1                        NaN        NaN        NaN                        NaN
2      Christophe Chappa (D)         55       1969                        NaN
3                        NaN        NaN        NaN                        NaN
4         Étienne Aubert (F)         66       1958                        NaN
..                       ...        ...        ...                        ...
741      Marvin Krukoff (LW)         31       1993              Toulouse, FRA
742       Alex MacDonald (C)         27       1997  Windsor Junction, NS, CAN
743  Eddy Martin-Whalen (RW)         36       1988           LaSalle, QC, CAN
744        Camille Mutte (F)         20       2003              Toulouse, FRA
745          Pablo Sudor (F)         23       2001              Toulouse, FRA

    Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10     Saison       Poste
0           HT         WT          S         NaN  1990-1991         NaN
1          NaN        NaN        NaN         NaN  1990-1991  DEFENSEMEN
2          176         70         -0         NaN  1990-1991  DEFENSEMEN
3          NaN        NaN        NaN         NaN  1990-1991    FORWARDS
4          183         76         -0         NaN  1990-1991    FORWARDS
..         ...        ...        ...         ...        ...         ...
741        187         88          R       24/25  2023-2024    FORWARDS
742        175         76          R       23/24  2023-2024    FORWARDS
743        175         84          L         NaN  2023-2024    FORWARDS
744        174         73          L       23/24  2023-2024    FORWARDS
745        180         80          L       24/25  2023-2024    FORWARDS

[746 rows x 13 columns]

In [6]:
newColNames = list(df.columns)

for i in range(11):
    newColNames[i]=df.iloc[0,i]

df.columns=newColNames

df=df.drop(index=0)#.reset_index(drop=True)

In [7]:
df1=df.iloc[:,[1,2,3,4,5,6,7,8,9,11,12]]

print(df1)

       #    N                   PLAYER    A  BORN                 BIRTHPLACE  \
1    NaN  NaN                      NaN  NaN   NaN                        NaN
2    NaN  NaN    Christophe Chappa (D)   55  1969                        NaN
3    NaN  NaN                      NaN  NaN   NaN                        NaN
4    NaN  NaN       Étienne Aubert (F)   66  1958                        NaN
5    NaN  NaN    Dominique Blondin (F)   57  1967                        NaN
..   ...  ...                      ...  ...   ...                        ...
741  #13  NaN      Marvin Krukoff (LW)   31  1993              Toulouse, FRA
742  #34  NaN       Alex MacDonald (C)   27  1997  Windsor Junction, NS, CAN
743  #27  NaN  Eddy Martin-Whalen (RW)   36  1988           LaSalle, QC, CAN
744  #59  NaN        Camille Mutte (F)   20  2003              Toulouse, FRA
745   #3  NaN          Pablo Sudor (F)   23  2001              Toulouse, FRA

      HT   WT    S     Saison       Poste
1    NaN  NaN  NaN  1990-1991  DEFENSEMEN
2    176   70   -0  1990-1991  DEFENSEMEN
3    NaN  NaN  NaN  1990-1991    FORWARDS
4    183   76   -0  1990-1991    FORWARDS
5    173   75   -0  1990-1991    FORWARDS
..   ...  ...  ...        ...         ...
741  187   88    R  2023-2024    FORWARDS
742  175   76    R  2023-2024    FORWARDS
743  175   84    L  2023-2024    FORWARDS
744  174   73    L  2023-2024    FORWARDS
745  180   80    L  2023-2024    FORWARDS

[745 rows x 11 columns]

In [21]:
df1=df1.dropna(subset=['PLAYER'])
print(df1)

       #    N                   PLAYER   A  BORN                 BIRTHPLACE  \
2    NaN  NaN    Christophe Chappa (D)  55  1969                        NaN
4    NaN  NaN       Étienne Aubert (F)  66  1958                        NaN
5    NaN  NaN    Dominique Blondin (F)  57  1967                        NaN
7      #    N                   PLAYER   A  BORN                 BIRTHPLACE
9    NaN  NaN    Christophe Chappa (D)  55  1969                        NaN
..   ...  ...                      ...  ..   ...                        ...
741  #13  NaN      Marvin Krukoff (LW)  31  1993              Toulouse, FRA
742  #34  NaN       Alex MacDonald (C)  27  1997  Windsor Junction, NS, CAN
743  #27  NaN  Eddy Martin-Whalen (RW)  36  1988           LaSalle, QC, CAN
744  #59  NaN        Camille Mutte (F)  20  2003              Toulouse, FRA
745   #3  NaN          Pablo Sudor (F)  23  2001              Toulouse, FRA

      HT  WT   S     Saison       Poste
2    176  70  -0  1990-1991  DEFENSEMEN
4    183  76  -0  1990-1991    FORWARDS
5    173  75  -0  1990-1991    FORWARDS
7     HT  WT   S  1991-1992    FORWARDS
9    176  70  -0  1991-1992  DEFENSEMEN
..   ...  ..  ..        ...         ...
741  187  88   R  2023-2024    FORWARDS
742  175  76   R  2023-2024    FORWARDS
743  175  84   L  2023-2024    FORWARDS
744  174  73   L  2023-2024    FORWARDS
745  180  80   L  2023-2024    FORWARDS

[620 rows x 11 columns]

In [22]:
df1=df1[df1['PLAYER']!='PLAYER']
print(df1)

       #    N                   PLAYER   A  BORN                 BIRTHPLACE  \
2    NaN  NaN    Christophe Chappa (D)  55  1969                        NaN
4    NaN  NaN       Étienne Aubert (F)  66  1958                        NaN
5    NaN  NaN    Dominique Blondin (F)  57  1967                        NaN
9    NaN  NaN    Christophe Chappa (D)  55  1969                        NaN
10   NaN  NaN    François Gleize (D/F)  53  1970            Romorantin, FRA
..   ...  ...                      ...  ..   ...                        ...
741  #13  NaN      Marvin Krukoff (LW)  31  1993              Toulouse, FRA
742  #34  NaN       Alex MacDonald (C)  27  1997  Windsor Junction, NS, CAN
743  #27  NaN  Eddy Martin-Whalen (RW)  36  1988           LaSalle, QC, CAN
744  #59  NaN        Camille Mutte (F)  20  2003              Toulouse, FRA
745   #3  NaN          Pablo Sudor (F)  23  2001              Toulouse, FRA

      HT  WT   S     Saison       Poste
2    176  70  -0  1990-1991  DEFENSEMEN
4    183  76  -0  1990-1991    FORWARDS
5    173  75  -0  1990-1991    FORWARDS
9    176  70  -0  1991-1992  DEFENSEMEN
10   183  72   L  1991-1992  DEFENSEMEN
..   ...  ..  ..        ...         ...
741  187  88   R  2023-2024    FORWARDS
742  175  76   R  2023-2024    FORWARDS
743  175  84   L  2023-2024    FORWARDS
744  174  73   L  2023-2024    FORWARDS
745  180  80   L  2023-2024    FORWARDS

[588 rows x 11 columns]

In [24]:
df1.to_csv('Effectif_saison_tbhc_DB_clean.csv')